.search-all-places {
  margin-bottom: 10px;
}
.search-all-places input {
  width: 98%;
  padding: 13px 13px 13px 45px;
  margin-left: -20px;
  font-family: inherit;
  border-radius: 20px;
  border: 0px solid #2a2d41a4;
  color: #9ea5b6;
  background-color: #f3f5f8;
}

.search-all-places input:focus {
  outline: none;
}
.search-icon {
  position: relative;
  left: 20px;
  top: 8px;
  color: #9ea5b6;
}
.place-card {
  margin: 0 0 15px;
}
.place-card-info {
  display: flex;
  column-gap: 10px;
}
.place-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}
.place-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.place-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.place-meta h2 {
  font-weight: 500;
  color: #383e4c;
  font-size: 1rem;
}

.place-meta h3 {
  font-weight: 500;
  color: #383e4c;
  font-size: 1.225rem;
  margin-top: -10px;
  margin-bottom: 20px;
}
.place-meta h2:hover,
.place-meta h3:hover {
  color: #3b3f5b;
}
.place-button span {
  padding: 16px 10px 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
  color: #fff;
  background: rgb(5, 56, 107);
  background: linear-gradient(
    166deg,
    rgba(5, 56, 107, 1) 44%,
    rgba(64, 159, 140, 1) 100%
  );
}
.top-five {
  display: flex;
  column-gap: 10px;
}
.place-card-top-five {
  margin: 0 0 15px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.place-meta-top-five h3 {
  font-weight: 500;
  color: #383e4c;
  font-size: 1.1rem;
}
.place-info-wrapper-top-five {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.place-button-top-five span {
  padding: 15px 10px 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
  color: #fff;
  background: rgb(5, 56, 107);
  background: linear-gradient(
    166deg,
    rgba(5, 56, 107, 1) 44%,
    rgba(64, 159, 140, 1) 100%
  );
}
.top-five-title {
  text-align: center;
  color: #383e4c;
  margin-bottom: 20px;
  font-weight: normal;
}
@media (max-width: 920px) {
  .all-places-container a {
    width: 49%;
  }
  .top-five {
    width: 100%;
    flex-wrap: wrap;
  }
  .place-card-top-five {
    width: 49%;
    justify-content: center;
  }
  .place-button {
    display: flex;
  }
}
@media (max-width: 820px) {
  .all-places-container a {
    width: 100%;
  }
  .place-card-top-five {
    width: 100%;
  }
}
