.profile {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-between;
}
/* POSTS */
.post {
  width: 54%;
  height: 100%;
  overflow-y: scroll;
}
/* Friends */
.friends {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

/* MOBILE */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .post,
  .friends {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
  .post {
    order: 3;
  }
  .friends {
    order: 2;
    margin-bottom: 10px;
  }
}
